{% extends 'base.html' %}
{% block title %} {{request.user.first_name}} Wishlist {% endblock %}
{% block content %}
<br>
<div class="container">
    {% if not products %}
        nothing present in your wishlist
    {% else %}
  <div class="row">
    {% for x in products %}

    <div class="card" style="width: 12rem; float: left; ">
      <div class="card-header" style="background-color: #343A40;"><span class="title">{{x.title}}</span> </div>
      <img src="{{x.image.url}}" class="card-img-top">
      <div class="card-body">
        <p class="card-text">{{x.description|truncatechars:50}}</p>
      </div>
      <div class="card-footer" style="background-color: #343A40;">
        <div class="title">
          {{x.price}} 
          <span class="card-items">
            <a href="{% url 'web:remove_from_wishlist' pk=x.id %}">
                <i class="fas fa-heart-broken"></i>
            </a>
            <i class="fas fa-cart-plus"></i>
          </span>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}