
    input.form-control.search-input.mr-sm-2 {
        width: 600px;

    }

    .header-item {
        margin-left: 230px;
    }



/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    input.form-control.search-input.mr-sm-2 {
        width: auto;
    }
    .header-item {
        margin-left: 0px;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    input.form-control.search-input.mr-sm-2 {
        width: auto;

    }
    .header-item {
        margin-left: 0px;
    }


}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    input.form-control.search-input.mr-sm-2 {
        width: auto;

    }
    .header-item {
        margin-left: 0px;
    }


}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    input.form-control.search-input.mr-sm-2 {
        width: auto;

    }
    .header-item {
        margin-left: 0px;
    }

}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    input.form-control.search-input.mr-sm-2 {
        width: auto;

    }
    .header-item {
        margin-left: 0px;
    }

}


/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    input.form-control.search-input.mr-sm-2 {
        width: auto;

    }
    .header-item {
        margin-left: 0px;
    }

}